VITE_REVERB_APP_KEY=your_app_key
VITE_REVERB_HOST=your_host
VITE_REVERB_PORT=443
VITE_REVERB_SCHEME=https
VITE_REVERB_CLUSTER=mt1
VITE_BASE_URL=https://gvpixel-app.ddev.site
VITE_API_BASE_URL=api/v1
VITE_OAUTH_REDIRECT_URI=http://localhost:5173/#/callback
STORE_URL=verbapix
